
VITE_SUPABASE_URL=https://vhzpmnirzgrzyaaotcep.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoenBtbmlyemdyenlhYW90Y2VwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNjE1MjYsImV4cCI6MjEwMjYzNzUyNn0.U0-CTzAqbJ2Oc25NbJBlWeWsAzkru0vxwWvCbYaO4I8
VITE_APP_URL=http://localhost:5173

VITE_VAPID_PUBLIC_KEY=
